<form action="/create-recipe" method="post">
    <label for="image">Изображение рецепта</label>
    <input type="image" id="image" name="Изображение" alt="Изображение рецепта">

    <label for="title">Введите название рецепта</label>
    <input type="text" id="title" name="Название рецепта">

    <label for="time">Введите время приготовления рецепта</label>
    <input type="number" id="time" name="Время приготовления">

    <label for="desc">Подготовьте описание рецепту</label>
    <input type="text" id="desc" name="Описание рецепта">

    <input type="submit" value="Сохранить рецепт">
</form>