<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>All Recipes</title>
        {% load static %}
        <link href="{% static 'css/recipes/all_recipes.css' %}" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                darkMode: 'class',
            }
    </script>
    </head>
    <body>
        <div class="container">
            <a href="{% url 'home' %}" class="back-button">← Back to recipes</a>

            <h1>All Recipes</h1>
            {% include "recipes/recipes_page.html" %}
        </div>
    </body>
</html>