<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>All Recipes</title>
        {% load static %}
        <link href="{% static 'css/recipes/all_recipes.css' %}" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>
    <body>
        <div class="container">
            <a href="javascript:history.back()" class="back-button">← Go back</a>
            <h1>All Recipes</h1>
            {% include "includes/recipe_filters.html" %}

            <div id="recipe-list">
                {% include "includes/all_recipe_blocks.html" %}
            </div>
        </div>
    </body>
</html>